
<body>
{% extends 'base.html' %}
{% block body %}
<div>

    <p><a href="{{ url_for('index')}}"> home</a></p>


    <h3 >{{ legend }} --- show players on team</h3>
    <a href="{{url_for('add_player',id =  team_id)}}"> Add a new player!</a>


    {% if listofplayers %}

    <table >
        <thead>
            <tr>
                <th style="border: 1px solid white">player id</th>
                <th style="border: 1px solid white">player Name</th>

            </tr>
        </thead>

        <tbody>
            {% for row in listofplayers %}
            <tr>
                <td style="border: 1px solid black"> {{ row.player_id }}</td>
                <td style="border: 1px solid black"> {{ row.player_name }}</td>
                <td style="border: 1px solid white">
                    <form action="{{ url_for('update_player', id=row.player_id) }}" method="POST">
                        <input type="submit" value="update"  />
                    </form>
                </td>
                <td style="border: 1px solid white">
                    <form action="{{ url_for('delete_player', id=row.player_id) }}" method="POST">
                        <input type="submit" value="delete"  />
                    </form>
                </td>


            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
</div>
{% endblock %}
</body>